{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block header %}
    <div class="header-bg text-center" style="padding: 2%; margin-bottom: 2%;">
        <h3 class=" text-center text-light">Search your current location or look up different one..</h3>
        <i class="fa fa-map-marker text-warning">
            <span class="text-success" id="mycity">{{location_info.city}}</span>/
            <span class="text-light" id="myregion">{{location_info.region}}</span>/
            <span class="text-success" id="mycountry">{{location_info.country_name}}</span>
            <img src="{{location_info.flag}}" alt="flag">
        </i> 
        <button id="error-panel" class="btn btn-dark text-light custom-button" data-toggle="modal" data-target="#myModal">Change location</button>
    </div>  
{% endblock %}
{% block nav-items %}
    <li class="nav-item">
        <a class="nav-link text-decoration-none" href="{% url 'fullstack:index' %}">
            <div class="btn btn-dark">Home</div>
        </a>
    </li>
{% endblock %}
{% block content %}
    <!--Categories-->
    <div class="col-xl-2 col-lg-2 col-sm-0">
        <div class="side-contents" style="border: 1px solid grey; margin-bottom: 2%;">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-sm-12">
                    <h4 class="bg-dark text-light text-weight-normal lead text-center">Categories
                        <span class="badge badge-pill badge-success">{{categories|length}}</span>
                    </h4>
                    <hr style="border: 2px solid burlywood;">
                    {% for category in categories %}
                        <p class="text-center lead text-warning" style="margin:0;">{{category.name|title}}</p>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-lg-8 col-sm-12" style="border: 0px solid white;border-top: 0; margin-bottom: 1%;">
        <!--Search Form-->
        <div class="row forced-overflow" style="border-bottom: 0px solid rgb(153, 153, 168); margin: 0 15% 5% 15%; text-align: center;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div id="alert">
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-sm-12">
                <form action="" method="POST" class="form" id="search-form">
                    {% csrf_token %}
                    <div class="row">
                        <!-- The Modal -->
				        <div class="modal" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content bg-dark text-light">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                    <h4 class="modal-title">Select Your location</h4>
                                    <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                                    </div>
                            
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <select id="country" name="country" class="form-control form-control-sm text-success font-weight-bold">
                                                            {% if customer_profile.country in countries %}
                                                                <option id="selected-country" value="{{customer_profile.country.id}}" disabled selected hidden>{{customer_profile.country.name}}</option>
                                                            {% elif location_country %}
                                                                <option id="selected-country" value="{{location_country.id}}" selected hidden>{{location_country.name}}</option>
                                                            {% else %}
                                                                <option id="selected-country" value="" disabled selected hidden>Select country</option>
                                                            {% endif %}

                                                            {% for country in countries %}
                                                                <option id="selected-country" value="{{country.id}}">{{country.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>      
                                                </div>
                                                    
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <select id="state" name="region" class="form-control form-control-sm text-info font-weight-bold"> 
                                                            {% if customer_profile.region in regions %}
                                                            <option id="selected-region" value="{{customer_profile.region.id}}" disabled selected hidden>{{customer_profile.region.name}}</option>
                                                            {% elif location_region%}
                                                            <option id="selected-region" value="{{location_region.id}}" selected hidden>{{location_region.name}}</option>
                                                            {% else %}
                                                            <option id="selected-region" value="" disabled selected hidden>Select state</option>
                                                            {% endif %}
                                                            {% for region in regions %}
                                                            <option id="selected-state" value="{{region.id}}">{{region.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <select id="city" name="city" class="form-control form-control-sm  text-primary font-weight-bold">
                                                            {% if customer_profile.city in cities %}
                                                            <option id="selected-city" value="{{customer_profile.city.id}}" disabled selected hidden>{{customer_profile.city.name}}</option>
                                                            {% elif location_city %}
                                                            <option id="selected-city" value="{{location_city.id}}" selected hidden>{{location_city.city}}</option>
                                                            {% else %}
                                                            <option id="" value="" disabled selected hidden>Select city</option>
                                                            {% endif %}
                                                            {% for city in cities %}
                                                            <option id="selected-city" value="{{city.id}}">{{city.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal"> Done </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Search bar row-->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-sm-12">
                            <div class="form-group">
                                <input class="form-control form-control-lg text-center" id="search-input" type="search" autofocus name="keyword" placeholder="Enter service or provider's name..">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div> 
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-sm-12">
                 <div id="search-result-size" class="text-center"></div><br>
            </div>
        </div>
        <!--Search Results-->
        <div class="row " style="text-align: center; margin-bottom: 10%;" id="js-search-result" >
        </div>
    </div>
    
    <!--Services-->
    <div class="col-xl-2 col-lg-2 col-sm-0">
        <div class="side-contents" style="border: 1px solid grey; margin-bottom: 2%;">
            <div class="row" >
                    <div class="col-xl-12 col-lg-12 col-sm-12">
                        <h5 class="bg-dark text-light text-weight-normal lead text-center">Services
                            <span class="badge badge-pill badge-success">{{services_list|length}}</span>
                        </h5>
                        <hr style="border: 2px solid burlywood;">
                        {% for service in services_list %}
                            <p class="text-center lead text-warning" style="margin:0">{{service.name|title}}</p><hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
