{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block header %}
    <div class="header-bg" style="padding: 2%; margin-bottom: 0;">
        <h2 class=" text-center text-light">Search your current location or look up different one..</h2>
    </div>  
{% endblock %}
{% block nav-items %}
    <li class="nav-item">
        <a class="nav-link text-decoration-none" href="{% url 'fullstack:index' %}">
            <div class="btn btn-dark">Home</div>
        </a>
    </li>
{% endblock %}
{% block content %}
    <!--Categories-->
    <div class="col-xl-2 col-lg-2 col-sm-0">
        <div class="side-contents" style="border: 1px solid grey; margin-bottom: 2%;">
            <div class="row" >
                <div class="col-xl-12 col-lg-12 col-sm-12">
                    <h4 class="bg-dark text-light text-weight-normal lead text-center">Categories</h4>
                    <hr style="border: 2px solid burlywood;">
                    {% for category in categories %}
                        <p class="text-center lead text-warning" style="margin:0;">{{category.name|title}}</p>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-lg-8 col-sm-12" style="border: 0px solid white;border-top: 0; margin-bottom: 1%;">
        <!--Search Form-->
        <div class="row" style="border-bottom: 0px solid rgb(153, 153, 168); margin: 0 15% 5% 15%; text-align: center;">
            <div class="col-xl-12 col-lg-12 col-sm-12">
                <form action="{% url 'fullstack:search'%}" method="POST" class="form">
                    {% csrf_token %}
                    <!--Country, Region and City row-->
                    <!--div class="row" style="border-bottom: 1px solid rgb(153, 153, 168); margin: 5%; text-align: center;"-->
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-sm-4">
                            <div class="form-group">
                                <select id="country" name="country" class="form-control form-control-md text-success font-weight-bold">
                                    {% if customer_profile.country in countries %}
                                        <option value="{{customer_profile.country.id}}" disabled selected hidden>{{customer_profile.country.name}}</option>
                                    {% else %}
                                        <option value="" disabled selected hidden>Select country</option>
                                    {% endif %}

                                    {% for country in countries %}
                                        <option value="{{country.id}}">{{country.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-sm-4">
                            <div class="form-group">
                                <select id="state" name="region" class="form-control form-control-md text-warning font-weight-bold">
                                    {% if customer_profile.region in regions %}
                                        <option value="{{customer_profile.region.id}}" disabled selected hidden>{{customer_profile.region.name}}</option>
                                    {% else %}
                                        <option value="" disabled selected hidden>Select state</option>
                                    {% endif %}
                                    {% for region in regions %}
                                        <option value="{{region.id}}">{{region.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-sm-4">
                            <div class="form-group">
                                <select id="city" name="city" class="form-control form-control-md  text-primary font-weight-bold">
                                        <option value="" disabled selected hidden>Select city</option>
                                        {% if customer_profile.city in cities %}
                                            <option value="{{customer_profile.city.id}}" disabled selected hidden>{{customer_profile.city.name}}</option>
                                        {% else %}
                                        <option value="" disabled selected hidden>Select city</option>
                                        {% endif %}
                                        {% for city in cities %}
                                        <option value="{{city.id}}">{{city.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--Search bar row-->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-sm-12">
                            <div class="form-group">
                                <input class="form-control form-control-lg text-center" id="search-input" type="search" name="keyword" placeholder="Enter service or provider's name..">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div> 
        <!--Search Results-->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-sm-12" style="text-align: center; margin-bottom: 10%;">
                {% if services %}
                <h6 class="text-light lead text-center" style="margin-bottom: 2%;">Search result for "{{keyword}}"</h6>
                    {% for service in services %}
                        {% if service is services_subscribed %}
                        <div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="card">
                                <p class="card-text text-success">Subscribed</p>
                                <img src="{{service.picture.url}}" class="card-img-top rounded-circle">
                                <div class="card-body">
                                    <h6 class="card-title text-dark">{{service.business_name|title}}</h6>
                                    <!--p class="card-text">{{service.description}}</p-->
                                    <hr>
                                    <li class="fa fa-map-marker"> {{service.street_address}}</li>
                                    <p class="text-warning">{{service.price}} {{service.currency}}</p>
                                    <a class="btn btn-primary card-link stretched-link" href="{% url 'fullstack:service_details' service.id %}">More...</a>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="card">
                                <img src="{{service.picture.url}}" class="card-img-top rounded-circle">
                                <div class="card-body">
                                    <h6 class="card-title text-dark">{{service.business_name|title}}</h6>
                                    <!--p class="card-text">{{service.description}}</p-->
                                    <hr>
                                    <li class="fa fa-map-marker"> {{service.street_address}}</li>
                                    <p class="text-warning">{{service.price}} {{service.currency}}</p>
                                    <a class="btn btn-primary card-link stretched-link" href="{% url 'fullstack:service_details' service.id %}">More...</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% if keyword%}
                    <div class="form-island bg-dark" style="padding: 2%;">
                        <h6 class="text-light lead text-center" style="margin-bottom: 2%;">Nothing matched  "{{keyword}}"</h6>
                    </div>
                    {% else %}
                    <div class="row">
                        <!--div class="col-xl-12 col-lg-12 col-sm-12">
                            <div id="map" style="width: 100%; height:400px; border: 2px solid blue; border-radius: 10px;">Your location</div> 
                            <p class="text-center lead text-danger" id="error"></p> 
                        </div-->
                    </div>
                    <p class="text-danger lead" id="error"></p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <!--Services-->
    <div class="col-xl-2 col-lg-2 col-sm-0">
        <div class="side-contents" style="border: 1px solid grey; margin-bottom: 2%;">
            <div class="row" >
                    <div class="col-xl-12 col-lg-12 col-sm-12">
                        <h5 class="bg-dark text-light text-weight-normal lead text-center">Services</h5>
                        <hr style="border: 2px solid burlywood;">
                        {% for service in services_list %}
                            <p class="text-center lead text-warning" style="margin:0">{{service.name|title}}</p><hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
