{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block header %}
{% endblock %}
{% block nav-items %}
<li class="nav-item">
        <a class="nav-link text-decoration-none" href="{% url 'fullstack:home' %}">
            <div class="btn btn-dark">Services</div>
        </a>
    </li>
{% endblock %}
{% block content %}
    <!--Categories-->
    <div class="col-xl-12 col-lg-12 col-sm-12">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-sm-12">
            <div style="margin: 5% 15% 5% 15%; border-radius: 0%; padding: 3% 0 0 0;" class="text-light text-center  l-page">
                <h3 class=""><strong>Are you in need of a service and not sure who can  better provide it?</strong></h3>
                <div style="text-align: center;">
                    <div class="btn btn-dark text-light custom-button">
                        <a class="text-decoration-none text-light lead" href="{% url 'fullstack:home' %}">Search for a service provider</a>
                    </div>
                </div><br>
                <h1 style="text-align: center;">OR</h1><br>
                <div class="">
                    <h3 class=""><strong>You wish to render a service needed in a your location?</strong> </h3>
                    <button class="btn btn-dark custom-button">
                        <a class="text-decoration-none text-light lead" href="{% url 'fullstack:registration' %}">Create service profile</a>
                    </button>
                </div>
                <br><br>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div id="">
                    <p class="lead text-info text-center  font-weight-bold">Small and big services can be provided or obtained here. Service as common as nail cutting, hair dressing, tailoring and many more      </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}