{% extends 'base.html' %}
{% load bootstrap4%}
{% load static %}
{%block nav-items%}
<li class="nav-item">
    <a class="nav-link text-decoration-none" href="{% url 'fullstack:index' %}">
        <div class="btn btn-dark">Home</div>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link text-decoration-none" href="{% url 'fullstack:home' %}">
        <div class="btn btn-dark">Service</div>
    </a>
</li>
{%endblock%}
{% block content %}
    <!--Left sidebar-->
    <div class="col-xl-2 col-lg-2 col-sm-12">    
    </div>
    <!--Main Area-->
    <div class="col-xl-8 col-lg-8 col-sm-12">
        <!--About service provider--->
        <div class="col-xl-12 col-lg-12 col-sm-12">
            <div class="jumbotron bg-dark text-light text-center" style="margin: 1%;">
                <img class="rounded-circle " src="{{service_provided.picture.url}}" alt="">
                <h2>{{service_provided.business_name}}</h2>
                <p class="text-warning lead">Established in {{service_provided.year_of_establishement}}</p>
                <div class="text-normal lead" style="margin: 5%;padding-bottom: 5%;">
                    <p class="text-normal lead text-center">Offers</p>
                    <p class="text-normal lead text-info">{{service_provided.description}}</p>
                    <p class="text-normal lead text-center">@</p>
                    {% if service_provided.currency %}
                        <p class="text-warning lead">{{service_provided.price}} {{service_provided.currency}}</p>
                    {% endif %}
                    <p><i class="fa fa-map-marker" aria-hidden="true"> {{service_provided.street_address}}</i></p>
                    <p><i class="fa fa-phone" aria-hidden="true"> {{service_provided.phone}}</i></p>
                    <p><i class="fa fa-envelope" aria-hidden="true"> {{service_provided.user.email}}</i></p>
                </div>
                <div class="row">
                        <div class="col-xl-12 col-lg-12 col-sm-12">
                            <div id="map" style="width: 100%; height:200px; border: 2px solid blue; border-radius: 10px;"></div>
                        </div>
                </div>
            </div>
        </div>

        <!--Activites statistics-->
        <div class="col-xl-12 col-lg-12 col-sm-" style="margin-top: 5%;">
            <h4 class="text-center text-dark bg-warning"><strong>Analysis</strong></h4>
        </div>
        <div class="col-xl-12 col-lg-12 col-sm-12">
            <div class="text-primary lead" style="margin-top: 5%;">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-sm-12"> 
                       <div class="card bg-dark">
                            <div class="card-body text-center">
                                <h6 class="card-title text-light">Customer joining rate(CJT)</h6>
                                <p class="card-text text-light">{{joining_rate}}</p>     
                                <p class="card-text text-light">persons/month</p>
                            </div>
                       </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-12">
                        <div class="card bg-dark">
                            <div class="card-body text-center">
                                <h6 class="card-title text-light">Customer leaving rate (CLR)</h6>
                                <p class="card-text text-light">{{leaving_rate}}</p>     
                                <p class="card-text text-light">persons/month</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-12">
                        <div class="card bg-dark">
                            <div class="card-body text-center">
                                <h6 class="card-title text-light">Subscribed customers</h6>
                                <p class="card-text text-light">
                                    <span class="badge badge-pill badge-success">{{subscription|length}}</span>
                                </p>     
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>

        <!--Transaction statistics-->
        <div class="col-xl-12 col-lg-12 col-sm-12">
            <div class="text-primary lead" style="margin-top: 5%;">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-sm-12"> 
                        <div class="card bg-dark">
                            <div class="card-body text-center">
                                <h6 class="card-title text-light">Customers' rating and reviews</h6>
                                <p class="card-text text-light">
                                    <span class="badge badge-pill badge-success">{{ratings|length}}</span>   
                                </p>     
                            </div>
                        </div>  
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-12">
                        <div class="card bg-dark">
                            <div class="card-body text-center">
                                <h6 class="card-title text-light">Customers' complain</h6>
                                 <p class="card-text text-light">
                                    <span class="badge badge-pill badge-success">{{complain|length}}</span>
                                 </p>     
                            </div>
                        </div>  
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-12">
                        <div class="card bg-dark">
                            <div class="card-body text-center">
                                <h6 class="card-title text-light">Customers' suggestions</h6>
                                <p class="card-text text-light">
                                    <span class="badge badge-pill badge-success">{{suggestions|length}}</span>
                                </p>     
                            </div>
                        </div>       
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-sm-12">
            <div class="text-primary lead text-center" style="margin-top: 5%;">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-sm-12">
                        <p class="text-success">
                            <div class="btn btn-dark custom-button">
                                <a class="text-light lead text-decoration-none" href="{% url 'fullstack:subscribe' service_provided.id %}">Subscribe</a>
                            </div>
                        </p>  
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!--Review and rating section-->
        <div class="col-xl-12 col-lg-12 col-sm-" style="margin-top: 5%;">
            <h4 class="text-center text-dark bg-warning"><strong>Rate and review this service</strong></h4>
        </div>
        <div class="col-xl-12 col-lg-12 col-sm-12">
            <div class="row" style="margin: 10%;">
                <div class="col-xl-12 col-lg-12 col-sm-12">
                    <!--h5 class="text-center text-dark bg-warning"><strong>Rate and review this service</strong></h5-->
                    <form action="{% url 'fullstack:rating' service_provided.id %}" method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button name="submit" class="btn text-light btn-dark btn-large custom-button" style="margin-bottom: 10px;">Send</button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
    
            <!--Rating and reviews submited-->
                <div class="row" style="margin: 10%;">
                    <div class="col-xl-12 col-lg-12 col-sm-12">
                        {% for rating in ratings %}
                            <div class="col-xl-12 col-lg-12 col-sm-12">
                            <div class="row bg-dark" style="border: 1px grey solid; border-radius: 10px;">
                                <div  class="col-xl-4 col-lg-4 col-sm-12">
                                    <img class="rounded-circle" src="{{rating.customer.picture.url}}" style="width: 100%; height:80%;">
                                </div>
                                <div  class="col-xl-8 col-lg-8 col-sm-12">
                                    <div class="card bg-dark" style="margin:10px;">
                                        <div class="card-body">
                                            <h4 class="card-title text-weigth-bold">{{rating.customer.user.username|title}}</h4>
                                            <p class="text-info">{{rating.date}}</p>
                                            <h4 class="card-title text-warning">Service rating:</h4><p>{{rating.rating}}</p>
                                            <h4 class="card-text text-warning">Review:</h4><p>{{rating.review}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
