{% extends 'base.html' %}
{% load bootstrap4 %}
{%block nav-items%}
<li class="nav-item">
    <a class="nav-link text-decoration-none" href="{% url 'fullstack:index' %}">
        <div class="btn btn-dark">Home</div>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link text-decoration-none" href="{% url 'fullstack:home' %}">
        <div class="btn btn-dark">Services</div>
    </a>
    </li>
{%endblock%}
{% block content %}
    <!--Left sidebar-->
    <div class="col-xl-4 col-lg-4 col-sm-12">    
    </div>

    <div class="col-xl-4 col-lg-4 col-sm-12" style="margin: 5%;" >
        <div class="jumbotron text-center text-light bg-primary lead" style="padding:0">
            <h3>Successfully registered.</h3> 
            <h3>Congratulations</h3>
            <p style="margin-top: 5%;">
                <li class="fa fa-login text-light" aria-hidden="true">
                    <a class="text-decoration-none" href="{% url 'fullstack:login' %}">Login</a>
                </li>
            </p>
        </div>
    </div>
    <!--Right sidebar-->
    <div class="col-xl-4 col-lg-4 col-sm-12">    
    </div>
{% endblock %}
    