.cityLogo {
  font-size: 30px;
  color: rgba(0, 0, 0, 1);
  font-family: 'Black Ops One', cursive;
  padding: 0;
}

.nav-items-custom {
  font-size: 20px;
  
  color: rgba(6, 27, 6, 0.1);
  text-shadow: 3px 2px rgba(0, 0, 0, 0.2);
  padding: 0;
}

.jumbo-title {
  padding: 10px;
  margin: 0, 0, 10px, 0;
}

hr {
  color: white;

  border: 0.5px solid white;

  margin: 0;
}
h1, h2, h3 {
  font-family: 'Piedra', cursive;
  /*font-family: 'Alfa Slab One', cursive; 
  */
}
h1 {
  font-family: 'Alfa Slab One', cursive; 
}
p, li, div, #mycity, #myregion, #mycountry, h5, h6, h4
{
  font-family: 'Bellota', cursive;
}
.custom-button{
  box-shadow: 1px 2px 2px 1px white;
  margin: 4px;
}
body {
  opacity: 1;
  padding-bottom: 70px;
  /*background-color: black;*/
}
.l-page {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 0%;
  margin: 0%;
}
.header-bg {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
.header-div {
  box-shadow: 2px 3px 3px 0.5px rgba(255, 255, 255, 1);
}
.foot{
  border-top: 2px solid white;
}
.form-island {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 1);
}
#search-input, #country, #city, #state, #error-panel, .custom-button, #alert{
  border-radius: 2em 2em 2em 2em;
}

.footer{
  padding-bottom: 0%;
}
@media (max-width: 481px){
    .side-contents{
      display: none;
    }
    h2, h3, h4 {
      font-size: small;
    }
  }
#mycity{
  font-size: smaller;
}
#search-error {
  margin-bottom: 2%;
  border-radius: 2em 2em 2em 2em;
  padding: 2%;
}
#error_panel {
  padding: 0%;
}
