{% extends 'base.html' %}
{% load bootstrap4%}
{% load static %}
{%block nav-items%}
<li class="nav-item">
    <a class="nav-link text-decoration-none" href="{% url 'fullstack:home' %}">
        <div class="btn btn-primary">Home</div>
    </a>
</li>
{%endblock%}
{%block content%}
    <!--Left sidebar-->
    <div class="col-xl-2 col-lg-2 col-sm-12">    
    </div>
   
    <div class="col-xl-8 col-lg-8 col-sm-12">
             <!--About service provider--->
            <div class="col-xl-12 col-lg-12 col-sm-12">
            <div class="jumbotron bg-primary text-light text-center" style="margin: 0;">
                {% if user_profile.picture %}
                    <img class="rounded-circle" src="{{user_profile.picture.url}}" alt="">
                {% else %}
                    <img class="rounded-circle" src="{% static 'images/avatar.jpg' %}" alt="">
                {% endif %}
                <h2>{{user.username}}</h2>
                <div class="text-normal lead" style="margin: 5%;padding-bottom: 5%;">
                {% if user_profile %}
                    <p><i class="fa fa-map-marker" aria-hidden="true"> {{user_profile.street_address}}</i></p>
                    <p><i class="fa fa-phone" aria-hidden="true"> {{user_profile.phone_number}}</i></p>
                {% endif %}
                    <p><i class="fa fa-email" aria-hidden="true"> {{user.email}}</i></p>
                </div> 
                <p class="text-success">
                    <i class="fa fa-edit" aria-hidden="true">
                        <a class="text-success lead text-decoration-none" href="{% url 'fullstack:create_customer_p' %}">Edit profile</a>
                    </i>
                </p>   
            </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-sm-12">
            <div class="text-primary text-center" style="margin: 0%;padding-bottom: 5%;">
                    <!--Services subscribed by customer-->
                <div class="col-xl-12 col-lg-12 col-sm-12">
                    <p class="text-normal lead text-center bold">Subscribed services</p>
                    <hr>
                    {% if services %}
                        <ul>
                        {% for service in services %}
                            <li class="text-normal lead">{{service}}</li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <p>You have not subscribed to any service.</p>
                    {% endif %}
                    <!--Subscribe to a service-->
                    <div class="btn btn-primary text-light lead" style="margin-bottom: 5%;">
                        <a class="text-decoration-none text-light lead" href="{% url 'fullstack:home' %}">Subscribe to a service</a>
                    </div>
                </div>
            </div><!--End of sercices subscribed-->
            </div>
            <div class="col-xl-12 col-lg-12 col-sm-12">
            <div class="text-primary text-center" style="margin-bottom: 5%;padding-bottom: 5%;" >
                    <!--Services offered -->
                    <div class="col-xl-12 col-lg-12 col-sm-12">
                        <p class="text-normal lead text-center bold">Services I provide</p>
                        <hr>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-sm-12">
                    {% if services_provided %}
                    <div class="row" style="margin-bottom: 5%;">
                    {% for service_provided in services_provided %}
                        <div class="col-xl-6 col-lg-6 col-sm-12">
                            <div class="card">
                                <img src="{{service_provided.picture.url}}" class="card-img-top rounded-circle">
                                <div class="card-body">
                                    <h4 class="card-title text-dark">{{service_provided.business_name|title}}</h4>
                                    <p class="card-text">{{service_provided.description}}</p>
                                    <hr>
                                    <li class="fa fa-map-marker"> {{service_provided.street_address}}</li>
                                    <p class="text-warning">{{service_provided.price}} {{service_provided.currency}}</p>
                                    <a class="btn btn-primary card-link stretched-link" href="{% url 'fullstack:provider_profile' service_provided.id %}">View profile</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    {% else %}
                        <p>You are not providing any service</p>
                    {% endif %}
                    </div>
                    <div class="col-xl-12 col-lg-12 col-sm-12">
                    <!--New service link-->
                        <div class="btn btn-primary text-light lead" style="margin-bottom: 5%;">
                            <a class="text-decoration-none text-light lead" href="{% url 'fullstack:create_provider_p' %}">Provide a service</a>
                        </div>
                    </div>
            </div>
            </div>
    </div>
    <!--Right sidebar-->
    <div class="col-xl-2 col-lg-2 col-sm-12">
    </div>
{%endblock%}
