{% extends 'base.html' %}
{% load bootstrap4%}
{%block nav-items%}
<li class="nav-item">
    <a class="nav-link text-decoration-none" href="{% url 'fullstack:home' %}">
        <div class="btn btn-primary">Home</div>
    </a>
</li>
{%endblock%}
{%block content%}
    <!--Left sidebar-->
    <div class="col-xl-2 col-lg-2 col-sm-12">    
    </div>
    <!--About service provider--->
    <div class="col-xl-8 col-lg-8 col-sm-12">
        <div class="jumbotron text-light lead" style="margin-top: 10%; padding: 0;">
            <div class="jumbotron bg-primary text-light text-center" style="margin: 0;">
                <img src="{{user_profile.image.url}}" alt="{{user_profile.user.first_name}}">
                <h2>{{user_profile.user.username}}</h2>
                <div class="text-normal lead" style="margin: 5%;padding-bottom: 5%;">
                    <p><i class="fa fa-home" aria-hidden="true"> {{user_profile.street_address}}</i></p>
                    <p><i class="fa fa-phone" aria-hidden="true"> {{user_profile.phone_number}}</i></p>
                </div>
                <p class="text-success"><i class="fa fa-edit" aria-hidden="true"> Edit profile</i></p>
            </div>
            <div class="text-primary text-center" style="margin: 5%;padding-bottom: 5%;">
                <p class="text-normal lead text-center bold">My services</p>
                <hr>
                {% if services %}
                    <ul>
                    {% for service in services %}
                        <li class="text-normal lead">{{service}}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                <p>You have not subscribed to any service.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <!--Right sidebar-->
    <div class="col-xl-2 col-lg-2 col-sm-12">
    </div>
{%endblock%}