{% extends 'base.html' %}
{% load bootstrap4 %}
{% block header %}
    <!--div class="jumbotron bg-light" style="padding: 0; margin: 0;">
        <h4 class="text-center text-warning">Loking for or wanting to provide services in a specific location?</h4>
    </div-->
    <div>
        <h4 class="text-center text-warning">Looking for or wanting to provide services in a specific location?</h4>
         <h2 class="text-center text-light"><span class="text-danger">Welcome</span> to <span class="text-success">SmartCities</span></h2><hr>
    </div>
    
{% endblock %}
{% block nav-items %}
<li class="nav-item">
        <a class="nav-link text-decoration-none" href="{% url 'fullstack:home' %}">
            <div class="btn btn-primary">Service</div>
        </a>
    </li>
{% endblock %}
{% block content %}
    <!--Categories-->
    <div class="col-xl-12 col-lg-12 col-sm-12">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-sm-12">
            <div style="margin-bottom: 2%; margin: 5% 15% 5% 15%;"  class="text-light ">
        
                <h4 class="text-light">About our service</h4>
                <p> <span class="text-primary font-weight-bold">SmartCities</span> is a place to search for services in a location to avoid spending time and money for services that are not worth it.
                    <br>
                    If you ever found yourself struggling to find out the best of a service in a place you are a stranger, 
                    and at the end have to just go by trial and error? probably you SmartCities would have been handy if it had been in available. 
                    This is what we relieve you of. Just select your country, region and city and enter the service 
                    you are interested in to get the list of all related services. 
                </p>
                <h4 class="text-light">Want to provide a service?</h4>
                <p>Becoming a service provider is easy. All you have to do is to sign and create service provider 
                    profile for the service you wish to render.
                    Each service has a seperate profile. An existing user can as well provide a service without 
                    having to create a seperate account. Just create profile for your service and it will be linked to your account.
                </p>
                <h4 class="text-light">What problem do we solve?</h4>
                <p>Our service address these key issues:
                    <ul>
                        <li>Accessiblity</li>
                        <li>Service quality</li>
                        <li>Service provider and customer relationship</li>
                        <li>Regulation of service</li>
                    </ul>
                </p><hr style="margin: 2%;">
                <button class="btn btn-primary "><a class="text-decoration-none text-light" href="{% url 'fullstack:home' %}">Go to service page.</a></button>
            </div>
            </div>
        </div>
    </div>
{% endblock %}