{% extends 'base.html' %}
{% load bootstrap4%}
{% load static %}
{%block nav-items%}
<li class="nav-item">
    <a class="nav-link text-decoration-none" href="{% url 'fullstack:home' %}">
        <div class="btn btn-primary">Home</div>
    </a>
</li>
{%endblock%}
{% block content %}
    <!--Left sidebar-->
    <div class="col-xl-2 col-lg-2 col-sm-12">    
    </div>
    <!--Main Area-->
    <div class="col-xl-8 col-lg-8 col-sm-12">
        <!--About service provider--->
        <div class="col-xl-12 col-lg-12 col-sm-12">
            <div class="jumbotron bg-primary text-light text-center" style="margin-top: 10%;">
                <img class="rounded-circle " src="{{service_provided.picture.url}}" alt="">
                <h2>{{service_provided.business_name}}</h2>
                <div class="text-normal lead" style="margin: 5%;padding-bottom: 5%;">
                    <p class="text-normal lead">{{service_provided.description}}</p>
                    {% if service_provided.curreency %}
                        <p class="text-warning lead">Offered @ {{service_provided.price}} {{service_provided.currency}}</p>
                    {% endif %}
                    <p><i class="fa fa-map-marker" aria-hidden="true"> {{service_provided.street_address}}</i></p>
                    <p><i class="fa fa-phone" aria-hidden="true"> {{service_provided.phone}}</i></p>
                    <p><i class="fa fa-email" aria-hidden="true"> {{user.email}}</i></p>
                    <p class="text-info lead">Established in {{service_provided.year_of_establishement}}</p>
                </div> 
                <p class="text-success">
                    <i class="fa fa-edit" aria-hidden="true">
                        <a class="text-success lead text-decoration-none" href="{% url 'fullstack:edit_provider_profile' service_provided.id %}">Edit profile</a>
                    </i>
                </p>   
            </div>
        </div>

        <!--Activites statistics-->
        <div class="col-xl-12 col-lg-12 col-sm-12">
            <div class="text-primary lead" style="margin-top: 5%;">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-sm-12"> 
                       <div class="card">
                            <div class="card-body text-center">
                                <h6 class="card-title text-success">Customer joining rate(CJT)</h6>
                                <p class="card-text text-warning">{{joining_rate}}</p>     
                                <p class="card-text text-primary">persons/month</p>
                            </div>
                       </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-12">
                        <div class="card">
                            <div class="card-body text-center">
                                <h6 class="card-title text-danger">Customer leaving rate (CLR)</h6>
                                <p class="card-text text-warning">{{leaving_rate}}</p>     
                                <p class="card-text text-primary">persons/month</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-12">
                        <div class="card">
                            <div class="card-body text-center">
                                <h6 class="card-title text-success">Subscribed customers</h6>
                                <p class="card-text text-warning">{{subscription|length}}</p>     
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>

        <!--Transaction statistics-->
        <div class="col-xl-12 col-lg-12 col-sm-12">
            <div class="text-primary lead" style="margin-top: 5%;">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-sm-12"> 
                        <div class="card">
                            <div class="card-body text-center">
                                <h6 class="card-title text-success">Customers' rating and reviews</h6>
                                <p class="card-text text-warning">{{ratings|length}}</p>     
                            </div>
                        </div>  
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-12">
                        <div class="card">
                            <div class="card-body text-center">
                                <h6 class="card-title text-success">Customers' complain</h6>
                                 <p class="card-text text-warning">{{complain|length}}</p>     
                            </div>
                        </div>  
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-12">
                        <div class="card">
                            <div class="card-body text-center">
                                <h6 class="card-title text-success">Customers' suggestions</h6>
                                <p class="card-text text-warning">{{suggestions|length}}</p>     
                            </div>
                        </div>       
                    </div>
                </div>
            </div>
        </div>

        <!--Bussiness status-->
        <div class="col-xl-12 col-lg-12 col-sm-12">
            <div class="text-primary lead text-center" style="margin-top: 5%;">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-sm-12">
                    {% if suspension %}
                        <p >Suspended</p>
                    {% else %}
                        <p>Active</p>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
