{% extends 'base.html' %}
{% load bootstrap4%}
{%block content%}

    <!--Left sidebar-->
    <div class="col-xl-2 col-lg-2 col-sm-12">    
    </div>
    <!--About service provider--->
    <div class="col-xl-8 col-lg-8 col-sm-12">
        <div class="jumbotron text-success lead">
            <img src="{{service_provider.image.url}}" alt="{{service_provider.bussiness_name}}">
            <h2>{{service_provider.bussiness_name}}</h2>
            <p>{{service_provider.street_address}}</p>
            <h4>Established {{service_provider.years_of_establishement}}</h4>
            <hr>
            <div class="bg-dark text-warning lead">
                <p>Service cost: {{service_provider.price}}</p>
                <!--p>Customer Ratings : {{service_provider.rating}}</p-->
                <p>Customer joining rate(CJT): {{joining_rate}}</p>
                <p>Customer leaving rate (CLR): {{leaving_rate}}</p>
                <p>Years in Bussiness: {{service_provider.years_of_experienced}}</p>       
            </div>
            <div class="bg-dark text-warning lead">
                <h4>How to get to {{service_provider.bussiness_name}}</h4>
                <p><i class="fa fa-car" aria-hidden="true"> {{duration_by_car}} at {{duration_by_car_cost}}</i></p>
                <p><i class="fa fa-motorbike" aria-hidden="true"> {{duration_by_motorbike}} at {{duration_by_motor_cost}}</i></p>      
            </div>
            <div class="jumbotron">
                <p>Want to make a review? <a href="{% url 'fullstack:reviews_and_ratings' service_provider.id %}">review</a></p> Or
                <!--p>Rate this service provider? <a href="{% url 'fullstack:rating' service_prodiver.id %}">Rate</a></p-->
            </div>
        </div>
        
    </div>
    <!--Right sidebar-->
    <div class="col-xl-2 col-lg-2 col-sm-12">
    </div>
{%endblock%}