{%load bootstrap4%}
<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title%}Smart Cities{%endblock%}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body class="bg-dark l-page" style="min-height: 100%; background-image: url('{%static "images/wallpaper4.jpg" %}')">
        <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
        <link
        rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
        type="text/css"
        />
        <!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
    <script src="//geodata.solutions/includes/countrystatecity.js"></script>
    <nav class="bg-dark navbar navbar-expand-sm text-dark  header-div navbar-dark" style="padding: 0%;">
        <!--logo-->
        <a class="navbar-brand" href="{% url 'fullstack:home' %}" > 
            <h3 class="cityLogo">
            <span class="text-light">Smart</span><span class="text-warning">Cityz</span></h3>
        </a>
        <!--Nav button-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon "></span>
        </button>
        <!-- Links -->
        <div class="collapse navbar-collapse text-right" id="collapsibleNavbar" style="text-align: right;">
            <ul class="navbar-nav navbar-right" style="text-align: right;">
                {%block nav-items%}{%endblock%} 
                {% if user.is_authenticated %}
                <li class="nav-item ">
                    <a class="nav-link text-decoration-none" href="{% url 'fullstack:customer_profile' %}">
                        <div class="btn btn-dark lead">My account</div>
                    </a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link text-decoration-none" href="{% url 'fullstack:logout' %}">
                        <div class="btn btn-dark">Logout</div>
                    </a>
                </li>
                <li class="nav-item">
                    <p class="lead text-warning">Hello, {{user.username}}</p>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-decoration-none" href="{% url 'fullstack:login' %}">
                        <div class="btn btn-dark">Login</div>
                    </a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link text-decoration-none " href="{% url 'fullstack:registration' %}">
                        <div class="btn btn-dark">Sign up</div>
                    </a>
                </li>
                {% endif %}  
            </ul>
        </div>
    </nav>
    <div class="container-fluid l-page">
        <!--header-->
        <div class="page-header text-primary lead" style="margin:0%;">
            {%block header%}{%endblock%}
        </div>
        <!--content-->
        <div class="row lead " style="margin: 0% 0% 10% 0%;">
            {%block content%}{%endblock%}
        </div>
        <!--footer-->
        <div class="row">
            <div class="col-lg-12 col-md-12 bg-light foot fixed-bottom">
                <div class="text-center col-lg-12 col-md-12 col-lg-offset footer">
                    <div class="text-center text-secondary">
                        <i class="fa fa-phone text-success" aria-hidden="true"></i><span><strong> +234 9030742107</strong></span>
                    </div>
                    <div class="text-center text-info">
                        <li class="fa fa-envelope text-danger" aria-hidden="true"></li><span><strong> smartcity090@gmail.com</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bellota:wght@300&display=swap" rel="stylesheet">
    <!--link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css'%}"-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'style/style.css'%}">
                <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <!--script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script-->
    <script src="{% static 'script/script.js'%}"></script>
    {% block custom_script %}
    {% endblock %}
</body>
</html>